
:root {
    --background :#3c343d;
    --background-card: #6b626c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

nav{
    position: absolute;
    width: 475px;
    height: 50px;
    background: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}



nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg, #194b4f, #33fffc);
    border-radius: 10px;
    transition: 0.5s;
    
}

nav a:nth-child(1):hover~span{
    letf: 0px;
}
nav a:nth-child(2):hover~span{
    letf: 90px;
}
nav a:nth-child(3):hover~span{
    letf: 180px;
}
nav a:nth-child(4):hover~span{
    letf: 0275px;
}
nav a:nth-child(5):hover~span{
    letf: 380px;
}




.background{
    background-color: var(--background);
    display:grid;
    place-items: center;
    height: 100vh;
}

.gallery{
    display: flex;
    left: calc(50% -330px);
}

.card{
    position:relative;
    left: 0px;
    width: 200px;
    height: 250px;
    background-color: var(--background-card);
    border-radius: 8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0,0,0,0.5);
}

.card:not(:first-child){
    margin-left: -45px;
}

.card:hover{
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;

}

.card:hover ~ .card{
    left: 55px;
}

.card img{
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
}